@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/static/Montserrat-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'open-sans';
  src: url('/fonts/Open_sans/static/OpenSans-Regular.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
} */

*{
  cursor: none;
}

html{
  background-color: var(--foreground);
  padding: 0 20px 20px 20px;
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

body {
  cursor: none; /* Hides the default cursor */
  color: var(--foreground);
  background: var(--background);
  font-family: 'open-sans', sans-serif;
}

html::-webkit-scrollbar {
  display: none; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

header{
  border-bottom: 1px solid ;
  min-height:100px;
  display: grid;
  grid-template-columns: 4fr 1fr 3fr 0.5fr;
  border-top: 20px solid var(--foreground);
  background-color: var(--background);
}

nav{
  justify-content: space-around;
}

.rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.logo{
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  width: 100px;
  height: 100px;
  border-right:1px solid;
}
header > *{
  border-right:1px solid;
  min-height: 100px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.peer .rounded-full{
border: 2px solid #000;
}

a {
  transition: transform 0.1s ease-out;
}

/* CustomCursor.module.css */
/* .cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  pointer-events: none;
  transition: transform 0.2s ease;
  z-index: 9999;
} */

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  pointer-events: none;
  transition: transform 0.2s ease, background-color 0.2s ease; /* Smooth animation */
  z-index: 9999;
}

.cursor.hover {
  transform: scale(1.2);
  background-color: red; /* Optional: Change color or style when hovering */
}

